{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    <h2>{{ category.name }} Products</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{ product.imageURL }}" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Price: Rs {{ product.price }}</p>
                        <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                        <a href="#" class="btn btn-outline-success">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
